<%= link_to "" ,ownership_path(current_user.wants.find_by(:item_id => item.id) , 
      item_id: item.id , type: "Want") ,
    :class => "want-#{item.id} btn-want btn btn-danger btn-sm wanted",
    :remote => true,
    :method => :delete %>